@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&family=Playfair+Display:ital@0;1&display=swap');
.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.titles {
  text-align: center;
  padding: 0 0 2rem;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;}