.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.shopping-icon {
  width: 4rem;
  height: 4rem;
  margin-top: 1rem;
}

.item-count {
  font-size: 1.5rem;
  font-weight: bold;
  bottom: 12px;
  margin-top: -4rem;
}